---
const { job_title, recuriter, location, field, type, salary } = Astro.props;
---

<section class="h-full">
  <article
    class="bg-[#f8f8f8] h-full flex flex-col gap-28 rounded-lg justify-between px-6 py-5"
  >
    <div>
      <h1 class="text-4xl font-slab font-medium whitespace-pre-line">
        {job_title}
      </h1>
      <small class="text-sm text-gray-500">Recruiter: {recuriter}</small>
    </div>
    <div class="flex flex-col gap-4">
      <div>
        <small class="font-slab bg-[#e7e7e7] px-3 py-1 rounded-full"
          >{type}</small
        >
        <small class="bg-[#1C15E0] text-white font-slab px-3 py-1 rounded-full"
          >{field}</small
        >
      </div>
      <div class="flex items-center justify-between">
        <div>
          <h2 class="font-medium">{salary}</h2>
          <p class="text-sm text-gray-500">{location}</p>
        </div>
        <button class="bg-black text-white px-4 py-1 rounded-full">Apply</button
        >
      </div>
    </div>
  </article>
</section>
